<!DOCTYPE html>
<html>
  <head>
    <title></title>
    
  </head>
  <body>
    <%- include layout %>
<div class="container">
    <% if(cart.items.length>0){ %>
    <h3 align="center" class="my-4">ตะกร้าสินค้า</h3>
    <table class="table my-4">
        <thead class="table-dark">
            <tr>
              <th scope="col">รหัสสินค้า</th>
              <th scope="col">ชื่อสินค้า</th>
              <th scope="col">จำนวน</th>
              <th scope="col">ราคา</th>
              <th scope="col">ราคารวม</th>
              
            </tr>
          </thead>
          <tbody>
            <% cart.items.forEach(function(product){ %>

            <tr>
              <th><a href="/products/show/<%= product.item %>"><%= product.item %></a></th>
              <td><%= product.title  %></td>
              <td><%= product.qty  %></td>
              <td><%= formatMoney(product.price)  %></td>
              <td><%= formatMoney(product.price * product.qty)  %></td>
            </tr>

            <% }) %>
          </tbody>
    </table>
    <h3 align="right">ยอดชำระเงิน : <%= formatMoney(cart.total) %> บาท</h3>
    <form class="form-group" action="/payment" method="post">
        <script
        src="http://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-name="Shop Demo"
        data-key="pk_test_y6cRKiLlTxPlSxVicjdBlSxU00fDvEcDuD"
        data-description="Shop Demo"
        data-amount="<%= cart.total*100 %>"
        data-currency="usd"
        ></script>
        <input type="hidden" name="amount" value="<%= cart.total*100 %>">
    </form>
    <% } else { %>
    <div class="alert alert-danger my-4">
        ไม่มีสินค้้าในตะกร้า
    </div>
<% } %>
</div>
 
  
  </body>
</html>
