<!DOCTYPE html>
<html>
  <head>
    <title></title>
    
    
  </head>
  <body>
    <%- include layout %>
    <!-- Page Content -->
    <div class="container">
  
      <div class="row">

  
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <h1 class="my-4">บทความ</h1>
          <!-- Blog Post -->
          <% posts.forEach(function(post) { %>
            <div class="card mb-4">
              <img class="card-img-top" src="<%= post.img %>" alt="Card image cap" width="900px" height="300px">
              <div class="card-body">
                <h2 class="card-title"><%= post.title %></h2>
                <p class="card-text"><%- descriptionText(post.content,100) %>
                </p>
                <a href="/show/<%= post._id %>" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                Posted on <%= moment(post.date).format("MM/DD/YYYY") %> by
                <a href="/posts/show/?author=<%= post.author %>"><%= post.author %></a>
              </div>
            </div>
            <% }) %>
  
        </div>
  
        <!-- Sidebar Widgets Column -->
        
        <%- include sidebar %>
      </div>
      <!-- /.row -->
  
    </div>
    <!-- /.container -->
  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Kong Ruksiam</p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
</html>
